<div class="navbar">
    <div class="head">
        <div class="title">
            <h3>ІНФОТЕХ<h4>Розклад занять</h4>
            </h3>
        </div>
        <i class="fas fa-bars hide-menu"></i>
    </div>
    <div class="links">
        <div class="pages">
            <button class="btn-link" link="students"><i class="fas fa-users"></i><p>Студенти</p></button>
            <button class="btn-link" link="teachers"><i class="fas fa-user"></i><p>Викладачі</p></button>
            <button class="btn-link" link="lessons"><i class="fas fa-table"></i><p>Розклад</p></button>
            <button class="btn-link" link="diciplines"><i class="fas fa-book-open"></i><p>Дисципліни</p></button>
            <button class="btn-link" link="reports"><i class="fas fa-flag"></i><p>Звітність</p></button>
        </div>
    </div>
    <div class="logout">
        <button class="btn-link" link="logout"><i class="fas fa-sign-out-alt"></i><p>Вихід</p></button>
    </div>
</div>