@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #6464c5; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #474786; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #363664; 
  }

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: block;
    overflow-x: hidden;
}
.border {
    overflow-x: scroll;
    width: 100%;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E3F; 
    font-size: 1.3em;
    font-family: sans-serif;
    padding: 30px 30px;
}
.head h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.head p {
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.date-creating {
    display: flex; 
    align-items: center;
}
.date-creating .creat p {
    font-size: 0.8em; 
    opacity: 0.7;
    margin-left: 20px;
}
@media (max-width: 576px) {
    .head {
      font-size: 1.1em;
    }
    .date-creating {
        display: block; 
    }
    .date-creating .creat p {
        font-size: 0.8em; 
        opacity: 0.7;
        margin-left: 0px;
    }
    .date-creating .creat {
        margin-top: 10px;
    }
  }
.head h4 {
    font-weight: 700;
}
.head p {
    font-weight: 100;
}
.filter{
    font-size: 20px;
}

.border-cotainer {
    overflow-x: auto;
    
}

tbody tr.lesson {
    position: sticky;
    left: 0;
    z-index: 1;
}
.select-lable {
    width: 100%;
    margin: 5px;
}
label {
    font-size: 0.8em;
    position: relative;
    right: 0;
    text-align: end;
}
.error {
    min-height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error .warning{
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    z-index: 999;
}
table td:not(.number-lesson) {
    min-width: 300px;
    min-height: 200px;
}
.error .no-spacing h1, p {
    margin: 0;
    padding: 0;
}

.panel {
    padding: 8px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.panel select {
    color: white;
    background-color: #31315E;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1.2em;
}
.panel .select-type {
    background-color: #31315E;
}
.panel button {
    align-items: center;
}
